<div class="window" style="width: 100%">
  <div class="title-bar">
    <div class="title-bar-text">pepe</div>
    <div class="title-bar-controls">
      <button aria-label="Help"></button> <!-- route this to app documentation -->
    </div>
  </div>
  <div class="window-body">
    <fieldset>
      <legend>Input type</legend>
      <div class="field-row">
        <input id="radiosql" type="radio" name="language-type">
        <label for="radiosql">SQL</label>
      </div>
      <div class="field-row">
        <input id="radiodbml" type="radio" name="language-type">
        <label for="radiodbml">DBML</label>
      </div>
    </fieldset>
    <app-editor></app-editor>
    <button>Chart!</button>
  </div>
</div>
