<div class="window" style="width: 100%">
  <div class="title-bar">
    <div class="title-bar-text">Page Not Found</div>
    <div class="title-bar-controls">
      <button aria-label="Help"></button> <!-- route this to app documentation -->
    </div>
  </div>
  <div class="window-body">
    <div class="title" data-content="404">
        404
    </div>
    <div class="subtitle">
        Oops, the page you're looking for doesn't exist.
    </div>
    <button routerLink="/">Go to homepage</button>
  </div>
</div>
